.card{
    color: #63cbfb;
    font-family: Rick;
    
    &__img{
        width: 200px;
    }
    // &__specie{

    // }
    // &__planet{

    // }
    // &__episodes{

    // }
    // &__lifestatus{

    // }
}