.detail{
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background-color: rgba(83, 75, 75, 0.6);
    &:hover {
      box-shadow : 0 0 18px rgb(135, 252, 57);  
    }
 
 &__img{
    width: 150px; 
    height: 150px;
    border-radius: 200px;
 }
 &__name{
    font-family: Rick;
    color: #63cbfb;
    font-size:20px ;
}
&__specie{
    font-family: Rick;
    color: #63cbfb;
    font-size:20px ;
}
&__link{
    text-decoration: none; 
    &--btn{
        width: 139px;
        height: 56px;
        background: grey;
        font-family: Rick;
        border-radius: 200px;
        color: #63cbfb;
        font-size:20px ;
        border: solid rgb(135, 252, 57) 2px;
        cursor: pointer;
    }
}
}