
.container{
    //  width: 200px;
    // height: 400px;
    // background-color: rgb(255, 255, 255); 
    
    
   
}


.detail{
  
  width: 250px;
  height: 300px;
border: 2px solid rgb(85, 254, 1);
 border-radius: 5px;
 text-align: center;
    &:hover {
     //box-shadow: 9px 2px 48px 7px rgba(111, 216, 19, 0.61);
      box-shadow : 0 0 18px rgb(135, 252, 57);
    }
&__link{
    text-decoration: none; 
} 
 &__img{
    width: 150px; 
    height: 150px;
    border-radius: 200px;
 }
 &__name{
     font-family: Rick;
    color: #63cbfb;
}
&__specie{
    font-family: Rick;
    color: #63cbfb;
}
}