.list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
       margin:20px 
    }

    &__error{
        color: #63cbfb;
        font-family: Rick;
        font-size: 30px;  
     }
}