@import "core/variables";
@import "core/reset";
@import "core/mixins";
// @import "layout/header";
// @import "layout/mainpage";

//@import "pages/index";
//@import "pages/card";



 @font-face {
    font-family: 'Rick';
    src: url("../fonts/Calligraphr-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  *{
    background-image: url('../images/Stars.jpg');
  }